/* Member Table Styles */
table {
	background-color: rgba(0, 36, 40, 0.5);
	border-collapse: collapse;
	color: #fff;
	min-width: 100%;
}
td, th {
	border: 1px solid #197576;
	padding: 3px 6px;
	vertical-align: top;
}
th {
	color: #4fd4e0;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
td:first-child, th:first-child {
	background-color: rgba(12, 52, 57, 0.5);
	white-space: nowrap;
}
td:nth-child(2) {
	text-align: center;
}

/* Squad Tab Display Settings */
.soldier-only .veteran, .soldier-only .echo-squad, .soldier-only .echo-vehicle,
.veteran-only .soldier, .veteran-only .echo-squad, .veteran-only .echo-vehicle,
.echo-squad-only .soldier, .echo-squad-only .veteran, .echo-squad-only .echo-vehicle,
.echo-vehicle-only .soldier, .echo-vehicle-only .veteran, .echo-vehicle-only .echo-squad {
	display: none;
}

/* Hide Offline Display Settings */
.nooffline .offline {
	display: none;
}

/* Online/Offline Status Indicator */
.status {
	border: 1px solid #555;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	width: 8px;
	height: 8px;
}
.online .status {
	background-color: #0f0;
}
.offline .status {
	background-color: #d00;
}

/* Outfit Rank Icons */
.rank {
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 2px;
	width: 24px;
	height: 24px;
	vertical-align: sub;
}
.rank.r1 {
	background-image: url(../img/rank-1.png);
}
.rank.r2 {
	background-image: url(../img/rank-2.png);
}
.rank.r3 {
	background-image: url(../img/rank-3.png);
}
.rank.r4 {
	background-image: url(../img/rank-4.png);
}
.rank.r5 {
	background-image: url(../img/rank-5.png);
}

/* Equipment Output */
.ok {
	color: #afa;
	font-weight: bold;
}
.notok {
	color: #faa;
}
td > span {
	display: block;
	font-size: 10px;
	font-weight: normal;
}
